* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 1.2rem 1.2rem 3rem;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  font-family: 'Raleway', sans-serif;

  /* transition: all 1s; */
}

/* HEADER */
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  display: none;
  font-size: 1.8rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.form-control__login {
  display: flex;
  gap: 1rem;
}

input {
  width: 6rem;
  border: none;
  border-radius: 2.5rem;
  padding: 0.8rem;

  text-align: center;
}

#btn__signin,
#btn__send {
  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 1.8rem;
}

/* MAIN */
main {
  display: none;
  width: 100%;
}

main.active {
  display: block;
  transition: all 1s;
}

.transactions-and-operations {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* USER ACCOUNT INFORMATION */
#user-account-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

.section-title span {
  font-size: 1.3rem;
  color: #888;
}

.balance {
  font-weight: 600;
  font-size: 2.5rem;
}

/* TRANSACTIONS */
#customer-transactions-container {
  max-height: 50rem;
  overflow: scroll;
  border-radius: 1.5rem;
  background-color: #fff;
}

.transaction {
  border-bottom: 0.1rem solid #ebe9e9;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction div {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  font-size: 1.2rem;
}

.transaction-type {
  padding: 0.5rem 1.2rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.transaction-amount {
  font-size: 2rem;
}

/* OPERATIONS */
#customer-operations-container {
  max-height: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.operation {
  padding: 3rem;
  border-radius: 2rem;
  width: 100%;

  text-align: center;
}

.operation.transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation.loan-request {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation.account-closure {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.operation h2 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.form-control__operation {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-control__operation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1.3rem;
}

.form-control__operation input {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn__send {
  align-self: flex-start;
}

/* ACCOUNT SUMMARY */
#account-summary {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary {
  display: flex;
  gap: 1.5rem;
}

.summary > p {
  text-transform: uppercase;
}

.summary span {
  font-size: 1.8rem;
}

.deposits {
  color: #39b385;
}

.withdrawals {
  color: #e52a5a;
}

.interest {
  color: #39b385;
}

@media screen and (min-width: 540px) {
  nav p {
    display: block;
  }

  #customer-operations-container {
    display: flex;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #user-account-details {
    margin-bottom: 2rem;
    width: 100%;
  }

  .section-title h1 {
    font-size: 2.2rem;
  }

  .balance {
    font-size: 3rem;
  }

  .transactions-and-operations {
    flex-direction: row;
    gap: 1.5rem;
  }

  #customer-transactions-container {
    width: 65%;
  }

  #customer-operations-container {
    width: 40%;
  }

  .summary {
    gap: 3rem;
    font-size: 1.3rem;
  }

  .summary span {
    font-size: 2.5rem;
  }

  .summary + p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  header {
    max-width: 120rem;
    padding: 2rem 0;
  }

  main {
    max-width: 120rem;
    margin-top: 3rem;
  }
}
